/* Colorpicker */

.asColorPicker-dropdown {
    max-width: initial;
}

.asColorPicker-trigger {
    height: auto;
    border: 0;
    span {
        border-radius: 2px;
        width: 35px;
    }
}

.asColorPicker-input {
    @extend .form-control;
}

.asColorPicker-wrap {
    @extend .input-group;
}

.table th,
.jsgrid .jsgrid-table th,
.table td,
.jsgrid .jsgrid-table td {
    padding: 0.375rem;
    vertical-align: top;
    border-top: 1px solid #2c2e33;
}